<!DOCTYPE HTML>
<html>
<head>
    <script>
        window.onload = function() {

            var dataPoints = [];

            var chart = new CanvasJS.Chart("chartContainer", {
                animationEnabled: true,
                theme: "light2",
                title: {
                    text: "Посещаемость экспонатов по дням"
                },
                axisY: {
                    title: "Количество посещений",
                    titleFontSize: 24,
                    includeZero: true
                },
                data: [{
                    type: "column",
                    yValueFormatString: "#,### посещений",
                    dataPoints: dataPoints
                }]
            });

            function addData(data) {
                for (var i = 0; i < data.length; i++) {
                    dataPoints.push({
                        x: new Date(data[i][0]),
                        y: data[i][1]
                    });
                }
                chart.render();

            }

            $.getJSON("/visits_by_day", addData);

        dp1 = []
        dp2 = []
        dp3 = []

        var chart2 = new CanvasJS.Chart("chartContainer2", {
            animationEnabled: true,
            title:{
                text: "Время, проведенное перед экспонатом",
                fontFamily: "arial black",
                fontColor: "#695A42"
            },
            axisY:{
                valueFormatString:"# секунд",
                gridColor: "#B6B1A8",
                tickColor: "#B6B1A8"
            },
            toolTip: {
                shared: true,
                content: toolTipContent
            },
            data: [
                {

                type: "stackedColumn",
                showInLegend: true,
                color: "#696661",
                name: "Минимальное",
                dataPoints: dp1
            },
                {
                    type: "stackedColumn",
                    showInLegend: true,
                    name: "Среднее",
                    color: "#EDCA93",
                    dataPoints: dp2
                },
                {
                    type: "stackedColumn",
                    showInLegend: true,
                    name: "Максимальное",
                    color: "#695A42",
                    dataPoints: dp3
                }]
        });

            function addData2(data) {
                for (var i = 0; i < data.length; i++) {
                    dp1.push({

                        x: data[i][3],
                        y: data[i][2]
                    });
                    dp2.push({

                        x: data[i][3],
                        y: data[i][0] - data[i][2]
                    });
                    dp3.push({

                        x: data[i][3],
                        y: data[i][1] - data[i][0] - data[i][2]
                    });
                }
                chart2.render();

            }

            $.getJSON("/view_time", addData2);
        chart2.render();

        dpl1 = []
            dpl2 = []
            dpl3 = []

            var chart3 = new CanvasJS.Chart("chartContainer3", {
                animationEnabled: true,
                title:{
                    text: "Средние оценки по харрактеристикам и экспонатам"
                },
                axisY: {
                    title: "Оценки",
                    includeZero: true
                },
                legend: {
                    cursor:"pointer",
                    itemclick : toggleDataSeries
                },
                toolTip: {
                    shared: true,
                    content: toolTipFormatter
                },
                data: [{
                    type: "bar",
                    showInLegend: true,
                    name: "Визуальная составляющая",
                    color: "coral",
                    dataPoints: dpl1
                },
                    {
                        type: "bar",
                        showInLegend: true,
                        name: "Описание экспоната",
                        color: "DarkCyan",
                        dataPoints: dpl2
                    },
                    {
                        type: "bar",
                        showInLegend: true,
                        name: "Законченность образа",
                        color: "DeepSkyBlue",
                        dataPoints: dpl3
                    }]
            });
            chart3.render();

            function addData3(data) {
                for (var i = 0; i < data.length; i++) {
                    dpl1.push({
                        label: data[i][3].toString(),
                        y: data[i][2]
                    });
                    dpl2.push({

                        label: data[i][3].toString(),
                        y: data[i][0]
                    });
                    dpl3.push({
                        label: data[i][3].toString(),
                        y: data[i][1]
                    });
                }
                chart3.render();

            }

            $.getJSON("/view_scores", addData3);

            function toolTipFormatter(e) {
                var str = "";
                var total = 0 ;
                var str3;
                var str2 ;
                for (var i = 0; i < e.entries.length; i++){
                    var str1 = "<span style= \"color:"+e.entries[i].dataSeries.color + "\">" + e.entries[i].dataSeries.name + "</span>: <strong>"+  e.entries[i].dataPoint.y + "</strong> <br/>" ;
                    total = e.entries[i].dataPoint.y + total;
                    str = str.concat(str1);
                }
                str2 = "<strong>" + e.entries[0].dataPoint.label + "</strong> <br/>";
                str3 = "<span style = \"color:Tomato\">Total: </span><strong>" + total + "</strong><br/>";
                return (str2.concat(str)).concat(str3);
            }

            function toggleDataSeries(e) {
                if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                    e.dataSeries.visible = false;
                }
                else {
                    e.dataSeries.visible = true;
                }
                chart.render();
            }


            function toolTipContent(e) {
            var str = "";
            var total = 0;
            var str2, str3;
            for (var i = 0; i < e.entries.length; i++){
                var  str1 = "<span style= \"color:"+e.entries[i].dataSeries.color + "\"> "+e.entries[i].dataSeries.name+"</span>: $<strong>"+e.entries[i].dataPoint.y+"</strong>bn<br/>";
                total = e.entries[i].dataPoint.y + total;
                str = str.concat(str1);
            }
            str2 = "<span style = \"color:DodgerBlue;\"><strong>"+(e.entries[0].dataPoint.x).getFullYear()+"</strong></span><br/>";
            total = Math.round(total * 100) / 100;
            str3 = "<span style = \"color:Tomato\">Total:</span><strong> $"+total+"</strong>bn<br/>";
            return (str2.concat(str)).concat(str3);
        }
    }
</script>
</head>
<body>

<div id="chartContainer" style="height: 300px; width: 100%;"></div>
<div id="chartContainer2" style="height: 300px; width: 100%;"></div>
<div id="chartContainer3" style="height: 300px; width: 100%;"></div>

<script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</body>
</html>