<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>

        <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    </head>
    <body>
        <div
            style="display: flex;
            justify-content: center;
        ">
            <div
                style="
                width: 400px;
                background-color: rgba(0, 0, 0, 0);
                border-radius: 40px;
                border-width: 0px;
                position: absolute;
                top: 10%;
            ">
                <p
                    style="
                    font-size: 30px;
                    line-height: 100%;
                    text-align: center;
                    color: black;
                ">
                    Введите экспонаты через запятую (,) в порядке посещения
                </p>
            </div>
            <div style="
                background-color: rgba(0, 0, 0, 0);
                border-radius: 40px;
                border-width: 0px;
                position: absolute;
                top: 40%;">
                <input type="text" id="inputField" size="30" maxlength="30" value="">
            </div>


            <button onclick="RouteEntered()"
                    style="
        width: 200px;
        background-color: rgba(116.38, 195.08, 219.94, 1);
        border-radius: 40px;
        border-width: 0px;
        position: absolute;
        top: 60%;
      ">
                <p
                        style="
          font-size: 24px;
          line-height: 100%;
          text-align: center;
          color: black;
        "
                >
                    Готово
                </p>
            </button>


            <button onclick="window.location.href='/'"
                    style="
        width: 200px;
        background-color: rgba(229, 229, 229, 1);
        border-radius: 40px;
        border-width: 0px;
        position: absolute;
        top: 80%;
      "
            >
                <p
                        style="
          font-size: 24px;
          line-height: 100%;
          text-align: center;
          color: black;
        "
                >
                    Назад
                </p>
            </button>
        </div>

    <script>
        function RouteEntered()
        {

            var inputField = document.getElementById("inputField")
            console.log(inputField.value)
            var lst = inputField.value.split([',', ' '])

            var row_data = lst;

            row_data = JSON.stringify(row_data);
            $.post("/custom_route", row_data);
            console.log(row_data)

            window.location.replace("/navigation");

            // let url = "http://127.0.0.1:5000/custom_route";
            //
            //
            // let xhr = new XMLHttpRequest();
            // xhr.open("POST", url);
            //
            // xhr.onreadystatechange = function () {
            //     if (xhr.readyState === 4) {
            //         console.log(xhr.responseText);
            //     }};
            //
            // let data = lst
            // xhr.send("data");
        }
    </script>
    </body>
</html>