<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>AR-lobby</title>
    <link rel="stylesheet" href="static/style.css" />
</head>
<body>

<center>
    <nav class="menu menu--adsila">
        <h1>
            Музей
        </h1>
        <a class="menu__item" href="photobooth">
            <span class="menu__item-name">Фотобудка</span>
        </a>
        <a class="menu__item" href="gallery">
            <span class="menu__item-name">Галерея</span>
        </a>
        <a class="menu__item" href="portal">
            <span class="menu__item-name">Портал</span>
        </a>
        <a class="menu__item" href="navigation">
            <span class="menu__item-name">AR-Гид</span>
        </a>
        <a class="menu__item" href="#">
            <span class="menu__item-name">Статистика</span>
        </a>
    </nav>
</center>

</body>
</html>

