<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>AR-guide</title>
    <link rel="stylesheet" href="static/style.css" />


    <script src="https://aframe.io/releases/1.2.0/aframe.min.js"></script>
    <script src="https://libs.zappar.com/zappar-aframe/0.3.29/zappar-aframe.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>

</head>
<body>

    <a-scene framet>

        <a-assets>
            <img id="one"
             src="/static/mask1.png"/>
            <img id="two"
             src="/static/mask2.png"/>

            <a-asset-item id="firstMarker"
                          src="/static/markers_trained/10.zpt" />

            <a-asset-item id="nextMarker"
                          src="/static/markers_trained/1.zpt" />

        </a-assets>

        <a-entity zappar-permissions-ui id="permissions">
            <a-entity text="value: Please reload the page, accepting the camera permissions." position="0 0 -2">
            </a-entity>
        </a-entity>
        <a-entity camera zappar-camera></a-entity>


        <a-entity zappar-image="target: #firstMarker ">
            <a-image src="/static/mask1.png"></a-image>
            <a-entity obj-model="obj: url(/static/statue_2.obj)"></a-entity>
        </a-entity>

        <a-entity zappar-image="target: #nextMarker ">
            <a-image src="/static/mask2.png"></a-image>
            <a-entity obj-model="obj: url(/static/statue_3.obj)"></a-entity>
        </a-entity>

        <a-entity zappar-image="target: #nextMarker ">
            <a-image src="/static/mask2.png"></a-image>
            <a-entity obj-model="obj: url(/static/statue_4.obj)"></a-entity>
        </a-entity>

        <a-entity zappar-image="target: #nextMarker ">
            <a-image src="/static/mask2.png"></a-image>
            <a-entity obj-model=""></a-entity>
        </a-entity>

        <a-entity zappar-image="target: #nextMarker ">
            <a-image src="/static/mask2.png"></a-image>
            <a-entity obj-model=""></a-entity>
        </a-entity>

        <a-entity zappar-image="target: #nextMarker ">
            <a-image src="/static/mask2.png"></a-image>
            <a-entity obj-model=""></a-entity>
        </a-entity>

        <a-entity zappar-image="target: #nextMarker ">
            <a-image src="/static/mask2.png"></a-image>
            <a-entity obj-model=""></a-entity>
        </a-entity>

        <a-entity zappar-image="target: #nextMarker ">
            <a-image src="/static/mask2.png"></a-image>
            <a-entity obj-model=""></a-entity>
        </a-entity>

        <a-entity zappar-image="target: #nextMarker ">
            <a-image src="/static/mask2.png"></a-image>
            <a-entity obj-model=""></a-entity>
        </a-entity>
    </a-scene>

    <script>
        var currentID = -1
        var nextID = -1
        firstTime = true
        var firstMarker = document.getElementById("firstMarker")
        var nextMarker = document.getElementById("nextMarker")
        AFRAME.registerComponent("framet", {
            init: function () {

                var firstMarker = document.getElementById("firstMarker")
                var nextMarker = document.getElementById("nextMarker")

                update();
            },
        });

        function update()
        {
            currentID = $.get('/get_current_id')
            nextID = $.get('get_next_id')
            if(currentID == 0) currentID = 10;
            if(nextID == 0) nextID = 10;
            if(firstTime)
            {
                firstMarker.removeAttribute('src')
                firstMarker.setAttribute('scr', "/static/markers_trained" + currentID + ".zpt")


                console.log(firstMarker)
                firstTime = false;
            }
        }
    </script>
</body>
</html>

