<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div
style="display: flex;
  justify-content: center;
">
<button
        style="
        width: 200px;
        background-color: rgba(0, 0, 0, 0);
        border-radius: 40px;
        border-width: 0px;
        position: absolute;
        left: 25%;
        top: 75%;
      "
>
<p
        style="
          font-size: 30px;
          line-height: 100%;
          text-align: center;
          color: black;
        "
>
    AR-Гид</p>
</button>

    <script src="/scripts/navigation.js"></script>
<button onclick="window.location.href='/create_route'"
        style="
        width: 200px;
        background-color: rgba(229, 229, 229, 1);
        border-radius: 40px;
        border-width: 0px;
        position: absolute;
        top: 70%;
      "
>
    <p
            style="
          font-size: 24px;
          line-height: 100%;
          text-align: center;
          color: black;
        "
    >
        Ввести вручную
    </p>
</button>
<button onclick="window.location.href='/'"
        style="
        width: 200px;
        background-color: rgba(229, 229, 229, 1);
        border-radius: 40px;
        border-width: 0px;
        position: absolute;
        top: 85%;
      "
>
    <p
            style="
          font-size: 24px;
          line-height: 100%;
          text-align: center;
          color: black;
        "
    >
        Назад
    </p>
</button>

    <table>
        <tr>
            <td>Экспонат</td>
            <td>Посещения</td>
            <td>Оценка</td>
        </tr>
        <tr class="data">
        </tr>
    </table>
</div>

</body>
</html>