<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>AR-guide</title>
    <link rel="stylesheet" href="static/style.css" />


    <script src="https://aframe.io/releases/1.2.0/aframe.min.js"></script>
    <script src="https://libs.zappar.com/zappar-aframe/0.3.29/zappar-aframe.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>

</head>
<body>

    <a-scene framet>

        <a-assets>
            <a-asset-item id="m1"
                          src="/static/markers_trained/1.zpt" />
            <a-asset-item id="m2"
                          src="/static/markers_trained/2.zpt" />
            <a-asset-item id="m3"
                          src="/static/markers_trained/3.zpt" />
            <a-asset-item id="m4"
                          src="/static/markers_trained/4.zpt" />
            <a-asset-item id="m5"
                          src="/static/markers_trained/5.zpt" />
            <a-asset-item id="m6"
                          src="/static/markers_trained/6.zpt" />
            <a-asset-item id="m7"
                          src="/static/markers_trained/7.zpt" />
            <a-asset-item id="m8"
                          src="/static/markers_trained/8.zpt" />
            <a-asset-item id="m0"
                          src="/static/markers_trained/10.zpt" />


        </a-assets>

        <a-entity zappar-permissions-ui id="permissions">
            <a-entity text="value: Please reload the page, accepting the camera permissions." position="0 0 -2">
            </a-entity>
        </a-entity>
        <a-entity camera zappar-camera></a-entity>


        <a-entity zappar-image="target: #m1 ">
            <a-image id="i1"></a-image>
            <a-entity obj-model="obj: url(/static/statue_2.obj)" id="m1"></a-entity>
        </a-entity>


        <a-entity zappar-image="target: #m2 ">
            <a-image id="i2"></a-image>
            <a-entity obj-model="obj: url(/static/statue_3.obj)" id="m2"></a-entity>
        </a-entity>

        <a-entity zappar-image="target: #m3 ">
            <a-image id="i3"></a-image>
            <a-entity obj-model="obj: url(/static/statue_4.obj)" id="m3"></a-entity>
        </a-entity>


        <a-entity zappar-image="target: #m4 ">
            <a-image id="i4"></a-image>
            <a-image src="/static/img1.jpg" id="m4"></a-image>
        </a-entity>

        <a-entity zappar-image="target: #m5 ">
            <a-image id="i5"></a-image>
            <a-image src="/static/img2.jpg" id="m5"></a-image>
        </a-entity>

        <a-entity zappar-image="target: #m6 ">
            <a-image id="i6"></a-image>
            <a-image src="/static/img3.jpg" id="m6"></a-image>
        </a-entity>

        <a-entity zappar-image="target: #m7 ">
            <a-image id="i7"></a-image>
            <a-image src="/static/img4.jpg" id="m7"></a-image>
        </a-entity>

        <a-entity zappar-image="target: #m8 ">
            <a-image id="i8"></a-image>
            <a-image src="/static/img5.jpg" id="m8"></a-image>
        </a-entity>

        <a-entity zappar-image="target: #m0 ">
            <a-image id="i0"></a-image>
            <a-image src="/static/img0.jpg" id="m0"></a-image>
        </a-entity>
    </a-scene>
    <button onclick="update()"
            style="
        width: 200px;
        background-color: rgba(116.38, 195.08, 219.94, 1);
        border-radius: 40px;
        border-width: 0px;
        position: absolute;
        top: 60%;
      ">
        <p
                style="
          font-size: 24px;
          line-height: 100%;
          text-align: center;
          color: black;
        "
        >
            Готово
        </p>
    </button>
    <script>
        var currentID = -1
        var arrowID = -1

        AFRAME.registerComponent("framet", {
            init: function () {},
        });


        function update() {
            if(currentID != -1)
            {
                document.getElementById("m" + currentID).setAttribute('visible', 'true')
            }

            currentID = $.get('/get_current_id').responseText
            console.log(currentID)
            arrowID = $.get('/get_current_arrow').responseText

            if(arrowID == 0) window.location.href='/'

            else {
                removeAll()
                document.getElementById("m" + currentID).setAttribute('visible', 'false')
                document.getElementById("i" + currentID).setAttribute('src', "/static/arrow" + arrowID + ".png")
            }
        }


        function removeAll()
        {
            // var i1 = document.getElementById('i1')
            // var i2 = document.getElementById('i2')
            // var i3 = document.getElementById('i3')
            // var i4 = document.getElementById('i4')
            //
            // var i5 = document.getElementById('i5')
            // var i6 = document.getElementById('i6')
            // var i7 = document.getElementById('i7')
            // var i8 = document.getElementById('i8')
            //
            // var i0 = document.getElementById('i0')

            document.getElementById('i1').remove('src')
            document.getElementById('i2').remove('src')
            document.getElementById('i3').remove('src')
            document.getElementById('i4').remove('src')

            document.getElementById('i5').remove('src')
            document.getElementById('i6').remove('src')
            document.getElementById('i7').remove('src')
            document.getElementById('i8').remove('src')

            document.getElementById('i0').remove('src')
        }
    </script>
</body>
</html>

