<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>AR-guide</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <center>
      <nav class="menu menu--adsila">
        <img src = "https://cdn.glitch.global/314ea0a4-1a42-4ab9-b4f2-257347a933b7/%D0%91%D0%B0%D0%B9%D0%BA%D0%B0%D0%BB%20(1).png?v=1646900244939" width="200" height="200" >

        <a class="menu__item" href="create_route">
		<span class="menu__item-name">Ввести вручную</span>
	</a>
        <a class="menu__item" href="/">
          <span class="menu__item-name">В меню</span>
        </a>
      </nav>
    </center>
  </body>
</html>
