<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div
style="display: flex;
  justify-content: center;
">
<button
        style="
        width: 200px;
        background-color: rgba(0, 0, 0, 0);
        border-radius: 40px;
        border-width: 0px;
        position: absolute;
        left: 25%;
        top: 10%;
      "
>
<p
        style="
          font-size: 30px;
          line-height: 100%;
          text-align: center;
          color: black;
        "
>
    AR-Гид</p>
</button>
<button window.location.href='/create_route'
        style="
        width: 200px;
        background-color: rgba(116.38, 195.08, 219.94, 1);
        border-radius: 40px;
        border-width: 0px;
        position: absolute;
        top: 20%;
      "
>
    <p
            style="
          font-size: 24px;
          line-height: 100%;
          text-align: center;
          color: black;
        "
    >
        Сгенерировать маршрут
    </p>
</button>
    <script src="/scripts/navigation.js"></script>
<button onclick="window.location.href='/navigation?random=1'"
        style="
        width: 200px;
        background-color: rgba(229, 229, 229, 1);
        border-radius: 40px;
        border-width: 0px;
        position: absolute;
        top: 40%;
      "
>
    <p
            style="
          font-size: 24px;
          line-height: 100%;
          text-align: center;
          color: black;
        "
    >
        Ввести вручную
    </p>
</button>
<button onclick="window.location.href='/'"
        style="
        width: 200px;
        background-color: rgba(229, 229, 229, 1);
        border-radius: 40px;
        border-width: 0px;
        position: absolute;
        top: 80%;
      "
>
    <p
            style="
          font-size: 24px;
          line-height: 100%;
          text-align: center;
          color: black;
        "
    >
        Назад
    </p>
</button>
</div>

</body>
</html>