<html lang="ru">

<head>
    <meta charSet="utf-8"/>
    <title>Photobooth</title>

    <script src="https://aframe.io/releases/1.2.0/aframe.min.js"></script>
    <script src="https://libs.zappar.com/zappar-aframe/0.3.29/zappar-aframe.js"></script>
</head>

<body>
<a-scene cursor="rayOrigin: mouse" raycaster="objects: [data-clickable]">

    <a-assets>
        <img id="one"
             src="/static/mask1.png"/>
        <img id="two"
             src="/static/mask2.png"/>

    </a-assets>

    <a-entity zappar-permissions-ui id="permissions">
        <a-entity text="value: Please reload the page, accepting the camera permissions." position="0 0 -2">
        </a-entity>
    </a-entity>
    <a-entity camera zappar-camera="user-facing: true;"></a-entity>

    <a-entity zappar-face id="facemesh1">
        <a-entity geometry="primitive: face-mesh; face: #facemesh1" id="mainEntity"
                  material="src:#one; transparent: true;"></a-entity>
    </a-entity>


    <!--Отображение управляющих элементов: вперед и назад-->
    <a-entity geometry="primitive: plane" material="src: #next; transparent: true;" position="0.5 -1.5 0"
              scale="0.5 0.5 0.5" data-clickable onclick="OnNextClick()"></a-entity>
    <a-entity geometry="primitive: plane" material="src: #prev; transparent: true;" position="0.5 -1.5 0"
              scale="0.5 0.5 0.5" data-clickable onclick="OnPrevClick()"></a-entity>

</a-scene>

<button
        id="first"
        onclick="OnPrevClick()"
        style="
        width: 150px;
        background-color: white;
        border-radius: 33px;
        border-style: solid;
        border-width: 3px;
        border-style: solid;
        border-color: black;
        position: absolute;
        left: 20%;
        top: 80%;
      "
>
    <p
            id="help1"
            style="
          font-size: 18px;
          line-height: 100%;
          text-align: center;
          color: black;
        "
    >
        Предыдущая
    </p>
</button>

<button
        onclick="OnNextClick()"
        style="
        width: 150px;
        background-color: white;
        border-radius: 33px;
        border-style: solid;
        border-width: 3px;
        border-style: solid;
        border-color: black;
        position: absolute;
        left: 70%;
        top: 80%;
      "
>
    <p
            style="
          font-size: 18px;
          line-height: 100%;
          text-align: center;
          color: black;
        "
    >
        следующая
    </p>
</button>

<script>
    var curr = 0;
    var maskAmount = 2;
    var d = document;

    var img = ["src:#one", "src:#two"]

    // Пролистывание вперед
    function OnNextClick() {
        curr++;
        if (curr > 1) curr = 0
        d.getElementById("mainEntity").removeAttribute("material")
        d.getElementById("mainEntity").setAttribute("material", img[curr] + "; transparent: true;")
    }

    // Пролистывание назад
    function OnPrevClick() {
        curr--;
        if (curr < 0) curr = 1
        d.getElementById("mainEntity").removeAttribute("material")
        d.getElementById("mainEntity").setAttribute("material", img[curr] + "; transparent: true;")
    }
</script>
</body>

</html>