<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>AR-navigation</title>
    <link rel="stylesheet" href="static/style.css" />
</head>
<body>

<center>
    <nav class="menu menu--adsila">
        <h1>
            Порталы
        </h1>
        <a class="menu__item" href="panorama1">
            <span class="menu__item-name">Портал No.1</span>
        </a>
        <a class="menu__item" href="panorama2">
            <span class="menu__item-name">Портал No.2</span>
        </a>
        <a class="menu__item" href="index">
            <span class="menu__item-name">В меню</span>
        </a>
    </nav>
</center>

</body>
</html>

